<h3>Filter Students By:</h3>

<div class="nav-item mb-1 p-2">
  {{>teacher-dropdown}}
</div>

<div class="nav-item mb-1 p-2">
  <select class="form-control custom-select-lg bg-primary text-white" id="gradeSelect">
      <option value="">-- Grade --</option>
      <option class="dropdown-item" value="6">6th</option>
      <option class="dropdown-item" value="7">7th</option>
      <option class="dropdown-item" value="8">8th</option>
    </select>
</div>
<div class="nav-item mb-1 p-2">
  <select class="form-control custom-select-lg bg-primary text-white" id="teacherSelect">
      <option value="">-- Detention --</option>
      <option class="dropdown-item" value="true">Is In Detention</option>
      <option class="dropdown-item" value="false">Is Not In Detention</option>
    </select>
</div>
<div class="nav-item mb-1 p-2">
  <select class="form-control custom-select-lg bg-primary text-white" id="student">
    <option value="">-- Student --</option>
      
    </select>

    {{!-- <div class="ui-widget">
  <label for="tags">Search by Student: </label>
  <input id="stuSearch">
</div> --}}

  {{!-- <form class="ui-widget form-inline my-2 my-lg-0 mb-1 p-2">
  <input class="form-control mr-sm-2 " type="search" id="studentSearch" placeholder="Search by student" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="stuSearch">Search</button> --}}
</form>
</div>

<a class="btn btn-success mb-1 p-2" id="addStudent" href="addstudent.html">Add New Student</a>
<a class="btn btn-success mb-1 p-2" href="addteacher.html">Add New Teacher</a>