<h3 class="left lead">Filter Students By:</h3>

<div class="nav-item mb-1 p-2">
  <select class="form-control  custom-select-lg" id="teacher">
    <option value="">Teacher</option>
  </select>
</div>

<div class="nav-item mb-1 p-2 ">
  <select class="form-control custom-select-lg" id="gradeSelect">
    <option value="">Grade</option>
    <option class="dropdown-item" value="6">6th</option>
    <option class="dropdown-item" value="7">7th</option>
    <option class="dropdown-item" value="8">8th</option>
  </select>
</div>
<div class="nav-item mb-1 p-2">
  <select class="form-control custom-select-lg" id="detentionSelect">
    <option value="">Detention</option>
    <option class="dropdown-item" value="1">Has Detention</option>
    <option class="dropdown-item" value="0">Does Not Have Detention</option>
  </select>
</div>
<div class="nav-item mb-1 p-2">
  <form class="form-inline my-2 my-lg-0 mb-1 p-2">
    <h5 class="mx-auto lead">Search By Student Name</h5>
    <input class="form-control  mb-1" id="search-first-name" type="search" placeholder="First Name" aria-label="Search">
    <input class="form-control  mb-1" id="search-last-name" type="search" placeholder="Last Name" aria-label="Search">
    <button class="btn my-2 my-sm-0 sideBtn" type="submit" id="stuSearch">Search</button>
  </form>
</div>

<button class="btn  mb-1 p-2 sideBtn" type="button" data-toggle="modal" data-target="#studentModal">Add New Student</button>
<button type="button" data-toggle="modal" class="btn  mb-1 p-2 sideBtn" data-target="#teacherModal" id="addNewTeachers">Add New
  Teacher</button>