<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title studentName">{{name}}</h5>
        <p class="card-text studentGrade">{{grade}}</p>
        <p class="card-text studentHRtecher">{{HRtecher}}</p>
        <p class="card-text studentDetention">{{detention}}</p>
        <button class="card-button edit-button">Edit</button>
        <button class="card-button delete-button">Delete</button>
    </div>
</div>