<select class="form-control custom-select-lg bg-primary text-white" id="teacherSelect">
  <option value="">-- Teacher --</option>
  {{#each teachers}}
    <option class="dropdown-item teacher" value="{{id}}">{{first_name}} {{last_name}}</option>
  {{/each}}
</select>