<div class="self-container">
    <div class="row">
        <div class="sidebar nav flex-column col-md-3 text-center mx-auto">
            {{>side-bar}}
        </div>

        <div class="col-md-9 lead" id = "studentCard">
            <h3>Select Criteria to Begin Your Search.</h3>
            
        </div>

        {{>addteacher-modal}}
        {{>addstudent-modal}}
        {{>updatestudent-modal}}


    </div>
</div>