<div class="container row">

    <div class="bg-light nav flex-column col-md-3">
        {{>side-bar}}
    </div>

    <div class="col-md-9" id="studentCard">
        <h3>Begin Your Search by Choosing a Filter.</h3>
        
    </div>

    

    </section>
</div>