/* ------ GLOBAL ------- */

.body {
    margin: 0;
}

.yellow {
    background-color: #d6bc43;
    color: whitesmoke;
}

.red {
    background-color: #DC333D;
    color: whitesmoke;
}

.blue {
    background-color: #36ABD9;
    color: whitesmoke;
}

.darkblue {
    background-color: #2975D9;
    color: whitesmoke;
}


h3, h5 {
    color: rgb(61, 61, 61);
}

/* ------ HEADER ------ */
header {
    margin: 0;
}
.jumbotron {
    background-image: url("/images/books.jpg");
    background-size: cover;
    vertical-align: middle;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}

.jumbo-content {
    background-color: rgba(32, 69, 138, 0.5);
    padding: 20px;
    color: white;
}


/* ------ CARDS ------ */
#studentCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.card {
    margin: 10px;
    height: 300px;
    
}

.card-header, .card-footer {
    background-color: transparent;
}

.self-container {
    width: 100%;
    margin: 10px 20px;
}

.eighth {
    background-color:#033473;
    color: whitesmoke;
}



/* ------ SIDEBAR ------ */
.custom-select-lg,
.sideBtn,
#search-first-name,
#search-last-name {
    width: 80%;
    margin: 0 auto;
}

.custom-select-lg, custom-select {
    color: #319DD2;
}

.custom-select-lg:active {
    background-color: transparent;
    border-color: #319DD2;
    color: #319DD2;
}

.sideBtn:hover {
    background-color: #319DD2;
    color: whitesmoke;
}
.sideBtn {
    background-color: transparent;
    border-color: #319DD2;
    color: #319DD2;
}



/* 
yellow: #d6bc43
blue: #36ABD9
red #DC333D
teal: #319DD2
green: #9fbea8 
#36ABD9*/